<mat-toolbar>
  <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">
    arrow_back
  </mat-icon>
  <span style="margin-left: 8px">
    {{path || 'Files'}}
  </span>
  <span class="spacer"></span>
  <mat-icon class="menu-btn pointer" (click)="openCategoryDialog()">category</mat-icon>
  <mat-icon class="menu-btn pointer" (click)="openSaveFileDialog()">save</mat-icon>
  <mat-icon class="menu-btn pointer" (click)="openLoadFileDialog()">folder_open</mat-icon>
  <mat-icon class="menu-btn pointer" (click)="openFileUploadDialog()">cloud_upload</mat-icon>
  <mat-icon class="menu-btn pointer" (click)="openNewFolderDialog()">create_new_folder</mat-icon>
</mat-toolbar>