<div class="playlists-container" *ngIf="!selectedPlaylist; else playlistContent">
  <mat-list role="list">
    <mat-list-item *ngFor="let playlist of playlists">
      <span class="pointer" (click)="openPlaylist(playlist)">
        <mat-icon>playlist_play</mat-icon>
        {{playlist.name}}
        <span class="item-count">{{(getItems(playlist)?.length || '0') + ' items'}}</span>
      </span>
      <span class="spacer pointer" (click)="openPlaylist(playlist)"></span>
      <mat-icon class="pointer" (click)="openRenameDialog(playlist)">edit</mat-icon>
      <mat-icon class="pointer" (click)="removePlaylist(playlist)">delete</mat-icon>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
<ng-template #playlistContent>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of getItems(selectedPlaylist)" cdkDrag>
      <span class="item-content">
        <img mat-card-avatar *ngIf="item.image?.path; else noImage" [src]="'file://' + item.image.path" width="62" height="62" />{{item.name}}
        <span class="spacer"></span>
        <mat-icon class="pointer" (click)="removeMediaFromPlaylist(item, selectedPlaylist)">delete</mat-icon>
      </span>
    </div>
  </div>
</ng-template>


<ng-template #noImage>
  <mat-icon>music_note</mat-icon>
</ng-template>